body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.top-header nav{
  padding: 10px;
  display: flex;
  align-items: center;
}
.top-header a {
  color: #5b3f3a;
  font-weight: bold;
}
.top-header  .active a{
  color: #000;
  background-color: #fff;
  border-radius: 300px;
  padding: 3px;
}
.top-header hr{
  margin: 0;
  border-color: #f0f0f0;
  box-shadow:  0 0 3px rgba(0 ,0, 0, .12);
}
.top-header nav{
  display: flex;
  justify-content: space-between;
}
.top-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.top-header nav ul li {
  margin: 0 10px;
  text-decoration: none;
}

.top-header nav ul li a{
  text-decoration: none;
}
.index-page {
  display: flex;
}

.containers-dash {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h-area {
  display: flex;
}
.containers-dash h2 {
  margin:20px 10px;
  font-size: 16px;
  background-color: #3e2723;
  border-radius: 300px;
  padding: 12px;
  color: #fff;
  width: 140px;
  text-align: center;
}
.containers-dash .hr {
  margin:  0 ;

}
.h-area-fu {
  width: 15vw;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover; 
}
.h-area .h1{
  background-image: url(../public/h1.jpg);
}

.h-area .h2{
  background-image: url(../public/h2.jpg);
}
.h-area .h3{
  background-image: url(../public/h3.jpg);
}
.h-area .h4{
  background-image: url(../public/h4.jpg);
}

.h-area-su {
  width: 15vw;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover; 
}

.h-area .s1{
  background-image: url(../public/s1.jpg);
}

.h-area .s2{
  background-image: url(../public/s2.jpg);
}
.h-area .s3{
  background-image: url(../public/s3.jpg);
}
.h-area .s4{
  background-image: url(../public/s4.jpg);
}


.left .pic{
  width: 40vw;
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../public/41676.jpg');
}
.right .pic{
  width: 40vw;
  background-image: url('../public/41675.jpg');
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}
.left .picc{
  width: 40vw;
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../public/41676toeic.jpg');
}
.right .picc{
  width: 40vw;
  background-image: url('../public/41675culture.jpg');
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}
.left .part12{
  width: 40vw;
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../public/Part1.jpg');
}
.right .part12{
  width: 40vw;
  background-image: url('../public/Part2.jpg');
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}
.left .part3{
  width: 40vw;
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../public/Part3-1.jpg');
}
.right .part3{
  width: 40vw;
  background-image: url('../public/Part3-2.jpg');
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}




.info {
  margin-left: 15px;
}

.info div {
  margin-left: 30px;
}
.contact-area {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.info div:first-child {
  margin-left: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact {
  color: #000;
  font-weight: 600;
  max-width: 40vw;
  background: #aaa;  
  padding: 10px 20px 20px 20px;
}

.contact-img {
  display: flex;
  justify-content: space-between;
}

.contact img{
  margin-top: 12px;
  width: 17.2vw;
}

.eiga {
  display: flex;
}
.eiga-ppp {
  display: flex;
  flex-direction: column;
}
.eiga .eiga-pic{
  background-image: url(../public/eiga.jpg);
  background-size: cover;
  height: 132px;
  background-position: -20px;
  width: 320px;
}

.eiga .eiga-pic2{
  background-image: url(../public/oculus.jpg);
  background-size: cover;
  height: 132px;
  width: 320px;
}